# Gradle
.gradle/
build/
*.apk
*.aab

# Android Studio
.idea/
*.iml
*.iws
*.ipr
local.properties
captures/
.externalNativeBuild

# Kotlin
.kotlin/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Project specific
*.log
.cxx/
